@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    --color2: #FF5400;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Mulish;
}
body{
    max-width: 1440px;
    margin: 0 auto;
}
section{
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}
nav li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.btn{
    background-color: var(--color2);
    border-radius: 8px;
    padding:14px 30px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    border: none;
}
.heading{
    font-size: 40px;
    font-weight: 800;
    color: rgb(19, 19, 24);
}
p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
}
.text-box{
    width: 60%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
/* ============================================ */
.icon{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.icon span, .active{
    color: var(--color2);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 25px auto;
}
.navbar nav{
    display: flex;
    align-items: center;
}
nav li{
    margin-left: 30px;
}
.hamburger{
    display: none;
}
/* =================================================== */
.banner h1{
    font-size: 64px;
    font-weight: 800;
    color: white;
}
.banner p{
    color: white;
}
 .banner input, .banner select {
    width: 174px;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.5);
    border: none;
    outline: none;
}
::placeholder{
    color: rgba(19, 19, 24, 0.5);
}
.banner button{
    width: 174px;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1rem;
    color: white;
    font-size: 1rem;
    border: none;
    background-color: var(--color2);
}
form{
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    gap: 24px;
}
.banner{
    border: 1px solid;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8),rgba(19, 19, 24, 0) 100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-content{
    width: 70%;
}
.banner-content>*{
    margin-bottom: 24px;
}
/* ========================================================================= */
.popular-tour{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popular-tour div{
    width: 47%;
}
.popular-text>*{
    margin-bottom: 24px;
}
.popular-text li{
    margin-bottom: 16px;
}
/* ================================================================= */
.destination-text>*, .service-text>*{
    margin-bottom: 24px;
    text-align: center;
}
.place{
    color: white;
    font-size: 28px;
    font-weight: 800;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.places{
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 24px;
}
.place1{
    grid-column:1/span 6;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place2{
    grid-column:7/span 6;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 8.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place3{
    grid-column:1/span 4;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 6.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place4{
    grid-column:5/span 5;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place5{
    grid-column:10/span 3;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 9.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place6{
    grid-column:1/span 5;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 11.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.place7{
    grid-column:6/span 7;
    background:linear-gradient(90deg,rgba(19, 19, 24, 0.2),rgba(19, 19, 24, 0.2)), url('Images/Rectangle\ 10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}
/* ================================================================= */
.all-services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.service3 {
    grid-column: 1 / 3; 
    justify-self: center; 
    width: calc(50% - 12px); 
}
.service{
    border: 1px solid black;
    padding: 32px;
    border-radius: 16px;
}
.service img{
    width: 50px;
}
.service>*{
    margin-bottom: 16px;
}
.service1{
    border: 1px solid rgba(251, 181, 99, 0.2);
    background: rgba(251, 181, 99, 0.05);
}
.service2{
    border: 1px solid rgba(41, 206, 246, 0.2);
    background: rgba(41, 206, 246, 0.05);
}
.service3{
    border: 1px solid rgba(233, 68, 68, 0.2);
    background: rgba(233, 68, 68, 0.05);
}
/* ======================================================== */
.info1, .info2, .info3, .info4{
    display: flex;
    align-items: center;
}
.info{
    display: flex;
    gap: 26px;
    margin-bottom: 24px;
}
.info i{
    color: var(--color2);
}
.deals-info>*, .deals-text>*{
    margin-bottom: 16px;
}
/* .deals div{
    margin-bottom: 24px;
} */
.deals-container{
    background: url('Images/Group\ 39.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    padding: 56px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 24px;
}
.deals-section{
    width: 55%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.8);
    padding: 50px;
}
.deals-container2{
    background: url('Images/Group\ 40.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
}
.see-packages{
    display: flex;
    justify-content: center;
}
/* ==================================================== */
.example{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.example-text{
    width: 90%;
}
.example-text>*:not(:last-child){
    margin-bottom: 25px;
}
/* ============================================================ */
.newsletter{
    display: grid;
    grid-template-columns: 1fr 1.35fr;
    gap: 25px;
}
.newsletter-form{
    padding: 40px;
    border: 2px solid #FF5400;
    border-radius: 15px;
}
.newsletter-form h1{
    font-size: 27px;
    font-weight: 800;
}
.newsletter-form>*:not(:last-child){
    margin-bottom: 20px;
}
.newsletter-form button{
    width: 100%;
}
.newsletter input{
    display: block;
    width: 100%;
    padding:14px 30px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.041);
}
.newsletter input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
}
.newsletter-image{
    position: relative;
}
.discount{
    background-color: #FF5400;
    padding: 20px 25px;
    border-radius: 15px;
    width: fit-content;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 80px;
    right: 10px;
    transform: rotate(-25deg);
}
.discount h1{
    font-size: 35px;
}
/* ========================================================== */
footer{
    background-color: rgba(211, 211, 211, 0.418);
    padding: 100px 0;
}
.footer{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.footer>*:not(:last-child){
    margin-bottom: 30px;
}
.footer .icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .icon div{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.social-media{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.footer i{
    font-size: 25px;
}



@media screen and (max-width:576px) {
    section{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .places, .all-services, .info{
        display: flex;
        flex-direction: column;
    }
    .example, .newsletter{
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .places div{
        height: 250px;
    }
    .banner{
        padding: 30px 20px;
    }
    .deals-container, .deals-section{
        padding: 30px 20px;
    }
    .banner h1, .heading, .discount h1{
        font-size: 1.5rem;
    }
    p{
        font-size: 15px;
    }
    .navbar nav{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .banner-content, .deals-section, .deals-info button{
        width: 100%;
    }
    .banner-content form, .popular-tour{
        flex-direction: column;
    }
    .banner input, .banner select, .banner button, .popular-text, .popular-tour div, .text-box, .service3{
        width: 100%;
    }
    .discount{
        bottom: 50px;
    }
}
